# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [30]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
import csv

# Import API key
from api_keys import g_key
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [31]:
# Output File (CSV)
output_data_file = "../output_data/results.csv"
csv_file=pd.read_csv(output_data_file)
csv_file
weather_data_df=csv_file.drop(columns=["Unnamed: 0"])
weather_data_df

,Cities,Latitude,Longtitude,Max_Temp,Humidity,Cloudiness,WindSpeed,Country,Date
0,ancud,-41.765817,-77.000587,54.00,76.0,81.0,6.93,CL,1.595277e+09
1,port macquarie,-33.435178,155.105852,39.00,87.0,14.0,11.30,AU,1.595277e+09
2,vaini,-73.048445,-179.956615,71.60,78.0,20.0,6.93,TO,1.595277e+09
3,lebu,-34.968665,-97.058821,52.84,84.0,92.0,9.89,CL,1.595277e+09
4,provideniya,51.494695,-176.254976,48.20,81.0,90.0,6.71,RU,1.595277e+09
...,...,...,...,...,...,...,...,...,...
592,dubai,24.547834,55.661430,96.80,60.0,42.0,4.70,AE,1.595278e+09
593,xai-xai,-28.163104,36.151125,60.35,85.0,0.0,5.73,MZ,1.595278e+09
594,bol,7.567010,15.816505,81.55,76.0,76.0,11.83,TD,1.595278e+09
595,lasa,34.219206,88.283471,62.60,63.0,5.0,0.18,IT,1.595278e+09
596,tumaco,1.634872,-79.036652,79.45,80.0,41.0,13.67,CO,1.595278e+09

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [37]:
#Creating a list containing coordinates
locations=weather_data_df[["Latitude","Longtitude"]]
humidity=weather_data_df["Humidity"].astype(float)

In [39]:
#Plot HeatMap
fig=gmaps.figure(map_type="TERRAIN")

#Create heat layer
heat_layer=gmaps.heatmap_layer(locations,weights=humidity,
                              dissipating=False, max_intensity=100, point_radius=1)

#Add Layer
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
# #Asssign the marker layer to a variable
# markers=gmaps.marker_layer(locations)

# #Add the layer to the map
# fig.add_layer(markers)
# fig

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [41]:
# Narrow down the DataFrame to find your ideal weather condition. For example:
# A max temperature lower than 80 degrees but higher than 70.
# Wind speed less than 10 mph.
#Zero cloudiness.
weather_data_df=weather_data_df.loc[(weather_data_df["Max_Temp"]<80)&(weather_data_df["Max_Temp"]>70)&(weather_data_df["WindSpeed"]<10)&(weather_data_df["Cloudiness"]==0)]
weather_data_df=weather_data_df.rename(columns={"Cities":"City"})
weather_data_df

,City,Latitude,Longtitude,Max_Temp,Humidity,Cloudiness,WindSpeed,Country,Date
17,lata,-7.259697,166.742009,79.00,57.0,0.0,5.99,PT,1.595277e+09
128,kupang,-10.105079,122.228109,71.82,82.0,0.0,9.26,ID,1.595277e+09
141,abu samrah,23.352937,50.034494,77.11,43.0,0.0,9.10,SY,1.595277e+09
195,mao,13.925719,15.347043,75.20,83.0,0.0,3.36,ES,1.595277e+09
216,kisangani,-1.388765,24.687837,72.73,68.0,0.0,1.28,CD,1.595277e+09
283,jawa,31.739162,36.016977,78.80,61.0,0.0,4.70,JO,1.595278e+09
372,ygatimi,-24.256779,-55.288962,78.55,46.0,0.0,3.76,PY,1.595278e+09
403,puerto lumbreras,37.729263,-1.959460,78.01,60.0,0.0,1.99,ES,1.595278e+09
410,astana,51.061945,71.683014,73.40,56.0,0.0,8.95,KZ,1.595278e+09
426,ust-nera,62.949082,142.456813,71.96,44.0,0.0,3.33,RU,1.595278e+09
463,talas,38.463047,36.027526,78.80,47.0,0.0,3.36,TR,1.595278e+09
484,piranshahr,36.487947,45.015754,77.25,25.0,0.0,4.88,IR,1.595278e+09
515,soyo,-7.009984,12.563523,71.62,89.0,0.0,5.61,AO,1.595278e+09
534,khorramabad,33.522919,48.118754,77.56,23.0,0.0,4.99,IR,1.595277e+09
568,midyat,37.337846,41.191570,73.40,60.0,0.0,5.82,TR,1.595278e+09

In [43]:
locations=weather_data_df[["Latitude","Longtitude"]]
# Plot HeatMap
fig=gmaps.figure(zoom_level=3 ,center=(5 ,50))

#Create heat layer
heat_layer=gmaps.heatmap_layer(locations,weights=weather_data_df["Humidity"],
                              dissipating=False, max_intensity=100, point_radius=3)

#Add Layer
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
# #Customize the size of the figure
# figure_layout={'width': '400px',
#                'height': '300px',
#                'border' : '1px solid black',
#                'padding' : '1px',
#                'margin': '0 auto 0 auto'
#               }
# fig=gmaps.figure(layout=figure_layout)

#Assign the marker layer to a variable
markers=gmaps.marker_layer(locations)
#Add the layer to the map
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [45]:
hotel_df=pd.DataFrame(weather_data_df,columns=["City","Latitude","Longtitude","Country"])

hotel_df.reset_index(inplace=True)
del hotel_df["index"]

hotel_df

                City   Latitude  Longtitude Country
0               lata  -7.259697  166.742009      PT
1             kupang -10.105079  122.228109      ID
2         abu samrah  23.352937   50.034494      SY
3                mao  13.925719   15.347043      ES
4          kisangani  -1.388765   24.687837      CD
5               jawa  31.739162   36.016977      JO
6            ygatimi -24.256779  -55.288962      PY
7   puerto lumbreras  37.729263   -1.959460      ES
8             astana  51.061945   71.683014      KZ
9           ust-nera  62.949082  142.456813      RU
10             talas  38.463047   36.027526      TR
11        piranshahr  36.487947   45.015754      IR
12              soyo  -7.009984   12.563523      AO
13       khorramabad  33.522919   48.118754      IR
14            midyat  37.337846   41.191570      TR

In [46]:
target_radius=5000
target_type = "hotel"
Hotel_Name=[]

for i in range(len(hotel_df)):
    lat=hotel_df.loc[i]["Latitude"]
    lng=hotel_df.loc[i]["Longtitude"]
    target_coordinates=f"{lat},{lng}",
    params={"location":target_coordinates,
           "radius":target_radius,
            "types":target_type,
            "key":g_key
           }
#Build URL using the Google Maps API
    base_url="https://maps.googleapis.com/maps/api/place/nearbysearch/json"
#Run Request
    response=requests.get(base_url, params=params).json()
    
#     print(json.dumps(response,indent=4, sort_keys=True))
    try:
#         print(response['results'][0]['name'])
#         print(response['results'][0]['vicinity'])
        Hotel_Name.append(response['results'][0]['name'])
    except:
        Hotel_Name.append(None)
hotel_df["Hotel Name"] = Hotel_Name
hotel_df=hotel_df.dropna(how='any')
hotel_df

                City   Latitude  Longtitude Country               Hotel Name
5               jawa  31.739162   36.016977      JO                    Amman
6            ygatimi -24.256779  -55.288962      PY  Britez Kue 4 de Octubre
7   puerto lumbreras  37.729263   -1.959460      ES               Fontanares
8             astana  51.061945   71.683014      KZ               Nur-Sultan
10             talas  38.463047   36.027526      TR                EmiruÅŸaÄŸÄ±
11        piranshahr  36.487947   45.015754      IR                Pshtashan
13       khorramabad  33.522919   48.118754      IR             Ø³Ø±Ø§Ø¨ Ù†Ø§ÙˆÙ‡ Ú©Ø´
14            midyat  37.337846   41.191570      TR                 Ã‡alpÄ±nar

In [47]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
Hotel_Name = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longtitude"]]

In [48]:
# Add marker layer ontop of heat map
markers=gmaps.marker_layer(locations, info_box_content=Hotel_Name)
#Add the layer to the map
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))