# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [13]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
import csv

# Import API key
from api_keys import g_key
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [14]:
# Output File (CSV)
output_data_file = "../output_data/results.csv"
csv_file=pd.read_csv(output_data_file)
csv_file
weather_data_df=csv_file.drop(columns=["Unnamed: 0"])
weather_data_df

,Cities,Latitude,Longtitude,Max_Temp,Humidity,Cloudiness,WindSpeed,Country,Date
0,vyritsa,59.454877,30.361195,63.00,77.0,12.0,4.47,RU,1.595200e+09
1,cherskiy,67.037077,161.352739,71.44,43.0,0.0,5.91,RU,1.595200e+09
2,mount gambier,-43.120246,138.018685,44.60,93.0,40.0,6.93,AU,1.595200e+09
3,caravelas,-25.382881,-23.787996,71.94,82.0,92.0,7.27,BR,1.595200e+09
4,clyde river,72.173768,-68.026601,46.40,75.0,90.0,9.17,CA,1.595200e+09
...,...,...,...,...,...,...,...,...,...
563,manicore,-5.361339,-61.164495,86.00,70.0,58.0,1.12,BR,1.595200e+09
564,sulphur springs,32.844566,-95.314556,99.00,34.0,1.0,9.17,US,1.595200e+09
565,inirida,4.221760,-66.234260,76.01,94.0,89.0,1.36,CO,1.595200e+09
566,honiara,-11.954752,158.695564,84.20,74.0,75.0,3.36,SB,1.595200e+09
567,tambura,6.267035,27.287620,66.87,97.0,99.0,2.33,SS,1.595200e+09

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [15]:
#Creating a list containing coordinates
locations=weather_data_df[["Latitude","Longtitude"]]
humidity=weather_data_df["Humidity"].astype(float)

In [16]:
#Plot HeatMap
fig=gmaps.figure()

#Create heat layer
heat_layer=gmaps.heatmap_layer(locations,weights=humidity,
                              dissipating=False, max_intensity=10, point_radius=1)

#Add Layer
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# #Asssign the marker layer to a variable
# markers=gmaps.marker_layer(locations)

# #Add the layer to the map
# fig.add_layer(markers)
# fig

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [18]:
# Narrow down the DataFrame to find your ideal weather condition. For example:
# A max temperature lower than 80 degrees but higher than 70.
# Wind speed less than 10 mph.
#Zero cloudiness.
weather_data_df=weather_data_df.loc[(weather_data_df["Max_Temp"]<80)&(weather_data_df["Max_Temp"]>70)&(weather_data_df["WindSpeed"]<10)&(weather_data_df["Cloudiness"]==0)]
weather_data_df=weather_data_df.rename(columns={"Cities":"City"})
weather_data_df

,City,Latitude,Longtitude,Max_Temp,Humidity,Cloudiness,WindSpeed,Country,Date
1,cherskiy,67.037077,161.352739,71.44,43.0,0.0,5.91,RU,1.595200e+09
15,alexandria,32.664058,29.323102,77.00,78.0,0.0,9.17,EG,1.595200e+09
19,gat,23.848788,5.803091,78.01,67.0,0.0,1.10,IL,1.595200e+09
38,manavgat,36.719062,31.612249,77.00,88.0,0.0,1.10,TR,1.595200e+09
88,mehran,33.012394,45.477953,77.00,16.0,0.0,4.70,IR,1.595200e+09
219,linfen,35.861946,111.820239,77.85,51.0,0.0,1.86,CN,1.595200e+09
268,henties bay,-20.632834,9.592792,72.00,23.0,0.0,7.87,NaN,1.595200e+09
327,panguna,-5.417216,154.007821,78.26,71.0,0.0,1.48,PG,1.595200e+09
338,sidi ali,35.757582,0.234382,76.95,44.0,0.0,4.45,DZ,1.595200e+09
464,mombetsu,44.088797,143.214603,71.01,77.0,0.0,5.99,JP,1.595200e+09
480,demirci,39.431994,28.420465,75.00,43.0,0.0,8.01,TR,1.595200e+09
525,derbent,42.970598,49.423590,79.23,69.0,0.0,3.74,RU,1.595200e+09
556,nador,31.696899,-1.567599,77.00,78.0,0.0,5.82,MA,1.595200e+09

In [19]:
locations=weather_data_df[["Latitude","Longtitude"]]
# Plot HeatMap
fig=gmaps.figure(map_type="TERRAIN")

#Create heat layer
heat_layer=gmaps.heatmap_layer(locations,weights=weather_data_df["Humidity"],
                              dissipating=False, max_intensity=10, point_radius=1)

#Add Layer
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# #Customize the size of the figure
# figure_layout={'width': '400px',
#                'height': '300px',
#                'border' : '1px solid black',
#                'padding' : '1px',
#                'margin': '0 auto 0 auto'
#               }
# fig=gmaps.figure(layout=figure_layout)

#Assign the marker layer to a variable
markers=gmaps.marker_layer(locations)
#Add the layer to the map
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [21]:
hotel_df=pd.DataFrame(weather_data_df,columns=["City","Latitude","Longtitude","Country"])

hotel_df.reset_index(inplace=True)
del hotel_df["index"]

hotel_df

           City   Latitude  Longtitude Country
0      cherskiy  67.037077  161.352739      RU
1    alexandria  32.664058   29.323102      EG
2           gat  23.848788    5.803091      IL
3      manavgat  36.719062   31.612249      TR
4        mehran  33.012394   45.477953      IR
5        linfen  35.861946  111.820239      CN
6   henties bay -20.632834    9.592792     NaN
7       panguna  -5.417216  154.007821      PG
8      sidi ali  35.757582    0.234382      DZ
9      mombetsu  44.088797  143.214603      JP
10      demirci  39.431994   28.420465      TR
11      derbent  42.970598   49.423590      RU
12        nador  31.696899   -1.567599      MA

In [22]:
target_radius=5000
target_type = "hotel"
Hotel_Name=[]

for i in range(len(hotel_df)):
    lat=hotel_df.loc[i]["Latitude"]
    lng=hotel_df.loc[i]["Longtitude"]
    target_coordinates=f"{lat},{lng}",
    params={"location":target_coordinates,
           "radius":target_radius,
            "types":target_type,
            "key":g_key
           }
#Build URL using the Google Maps API
    base_url="https://maps.googleapis.com/maps/api/place/nearbysearch/json"
#Run Request
    response=requests.get(base_url, params=params).json()
    
#     print(json.dumps(response,indent=4, sort_keys=True))
    try:
#         print(response['results'][0]['name'])
#         print(response['results'][0]['vicinity'])
        Hotel_Name.append(response['results'][0]['name'])
    except:
        Hotel_Name.append(None)
hotel_df["Hotel Name"] = Hotel_Name
hotel_df=hotel_df.dropna(how='any')
hotel_df

        City   Latitude  Longtitude Country                  Hotel Name
2        gat  23.848788    5.803091      IL                       Idles
3   manavgat  36.719062   31.612249      TR                      Çenger
4     mehran  33.012394   45.477953      IR  الرقعة الاستكشافية الثامنة
5     linfen  35.861946  111.820239      CN                      Linfen
8   sidi ali  35.757582    0.234382      DZ                      Yellel
9   mombetsu  44.088797  143.214603      JP                    Mombetsu
10   demirci  39.431994   28.420465      TR                    Yağcılar
12     nador  31.696899   -1.567599      MA                      Béchar

In [23]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
Hotel_Name = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longtitude"]]

In [24]:
# Add marker layer ontop of heat map
markers=gmaps.marker_layer(locations)
#Add the layer to the map
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))